@import "tailwindcss";

@theme {
  /* --- Light Mode (Default) --- */
  --color-pri: #ffffff;

  --color-sec: #4b5563;  
  --color-text: #111827;
  --color-card: #ffffff;

  --color-border: #d1d5db; 

  --font-space: "Space Grotesk", sans-serif;
}

/* --- Dark Mode Overrides --- */
@variant dark (&:where(.dark, .dark *));

.dark {
  --color-pri: #050505;
  --color-sec: #9ca3af;
  --color-text: #f9fafb;
  --color-card: #0A0A0B;
  --color-border: #262626;
}


@layer base {

  h1, h2, h3, h4, h5, h6, span, div {
    @apply font-space;
  }
  
  p {
    @apply font-space;
  }
  
}